
:root {
    --primary-color: #555ab9;
    --accent-color: #b9555a;
    --neutral-color: #737373;
}

@keyframes spin {
    to {
      transform: rotate(360deg);
    }
}

.animate-spin {
    animation: spin 1s linear infinite;
}